@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Oxygen:300);
@import url(http://weloveiconfonts.com/api/?family=maki);

$teel: #529494;
$peach: #ea5844;
$blue-black: #222c2e;
$wheat: #e6e8d1;
$brown: #706557;

* { @include box-sizing(border-box); }

[class*="maki-"]:before { font-family: 'maki', sans-serif; }

html { background-color: $blue-black; }

body { font-family: 'Oxygen', sans-serif; font-size: medium; line-height: 1.4; }

h1 { 
  color: $brown;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 6em;
  line-height: 1.1;
  padding: 0 50px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  @media (max-width: 700px) {
    font-size: 4em;
  }
}

a { text-decoration: none; color: inherit; }

// THEME

div.container {
  position: relative;
  left: 50%;
  margin-left: -418px;
  @media (max-width: 830px) {
    margin-left: -140px;
  }
}
.pizza-link {
  display: block;
  @include transition(border .4s);
  width: 230px;
  border: 1px solid #ccc;
  float: left;
  position: relative;
  overflow: hidden;
  padding: 1.5em;
  margin: 1.5em;
  text-align: center;
  text-decoration: none;
  color: black;
  background: $teel;
  @media (max-width: 830px) {
    float:none;
  }
  &:hover, &:focus {
    border: 1px solid $wheat;
  }
  h3 {
    border-bottom: 1px solid #eee;
    padding: 3.5em 0 0.75em 0;
    margin: 0 0 0.75em 0;
    position: relative;
    color: $blue-black;
    font-weight: 800;
    @include transition(color 0.2s);
  }
  p {
    color: $wheat;
    margin: 0;
    position: relative;
    font-size: 0.9rem;
    @include transition(color 0.2s);
  }
  h3, p {
    transition: 0.2s;
  }
  .icon {
    position: absolute;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 1.5em;
    margin-left: -25px;
    left: 50%;
  }
  &:before {
    content: "";
    background: $brown;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 50%;
    margin-left: -25px;
    @include transition(
      width 0.2s,
      left 0.2s,
      margin-left 0.2s,
      top 0.2s 0.2s,
      height 0.2s 0.2s
      );
  }
  &:hover, &:active {
    h3 {
      color: $wheat;
      @include transition(border-bottom-color 0.2s);
      border-bottom-color: lighten($blue-black, 50%);
    }
    p {
      @include transition(color 0.2s);
      color: darken($blue-black, 20%);
    }
    &:before {
      width: 230px;
      left: 0;
      top: 0;
      margin-left: 0;
      height: 320px; // hacky
    }
  }
}

footer {
  clear: both;
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #e6e8d1;
    text-align: center;
    position: relative;
    margin-top: 500px;
    @media (max-width: 830px) {
      margin-top:100px;
      padding-bottom: 30px;
  }
  }
}